@import url('https://fonts.cdnfonts.com/css/inter?styles=29139,29140,29141');
@import './color-vars.scss';
@import './typography-classes.scss';

@import './sections.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/menu-item.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $background-body;

  &.no-scroll {
    overflow: hidden;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 100px;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 720px) {
    padding: 0 16px;
  }
}

.nav-link {
  &::after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 2px solid $text-dark;
    transition: width 0.3s ease;
  }

  &.active {
    cursor: default;
    &::after {
      width: 100%;
      margin-top: 2px;
    }
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__footer {
    &::after {
      content: "";
      display: block;
      width: 0;
      margin-top: 5px;
      border-bottom: 2px solid $text-light;
      transition: width 0.3s ease;
    }
  }
}
