@import url('https://fonts.cdnfonts.com/css/inter?styles=29139,29140,29141');
@import './color-vars.scss';
@import './typography-classes.scss';

@import './sections.scss';
@import './components/header.scss';
@import './components/footer.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $background-body;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 100px;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.nav-link {
  &::after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 2px solid $text-dark;
    transition: width 0.3s ease;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }

  &__footer {
    &::after {
      content: "";
      display: block;
      width: 0;
      margin-top: 5px;
      border-bottom: 2px solid $text-light;
      transition: width 0.3s ease;
    }
  }
}

@media (hover:none) {
  .nav-link {
    &:hover {
      &::after {
        width: 0;
      }
    }
  }

  .slider {
    &__back,
    &__next {
      &:hover {
        background-color: transparent;

        img {
          filter: unset;
        }
      }
    }
  }

  .about {
    &__gallery {
      .image {
        &:hover {
          transform: unset;
        }
      }
    }
  }

  .mobile-app {
    &__store {
      &:hover {
        background-color: transparent;

        .store-text {
          color: $text-dark;
        }

        img {
          filter: none;
        }
      }
    }
  }

  .footer {
    &__social {
      ul {
        li {
          &:hover {
            border: 1px solid $border-light;
            background-color: transparent;

            img {
              filter: unset;
            }
          }
        }
      }
    }
  }
}