.favorite-coffee {
  &__heading {
    text-align: center;
    color: $text-dark;

    em {
      color: $text-accent;
    }
  }
}

.slider {
  position: relative;

  &__items {
    width: 480px;
    height: 678px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    @media (max-width: 720px) {
      width: 348px;
      height: 570px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    position: absolute;

    transition: transform 0.7s ease;

    img {
      width: 480px;
      height: 480px;

      @media (max-width: 720px) {
        width: 348px;
        height: 348px;
      }
    }

    @for $i from 1 through 3 {
      &--#{$i} {
        // transform: translateX('#{($i - 1)}%')
        transform: translateX(#{100 * ($i - 1)} + '%');
      }
    }
  }
  &__desc {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    text-align: center;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;

    &-bar {
      position: relative;
      display: block;
      width: 40px;
      height: 4px;
      border-radius: 100px;
      background-color: $border-light;
      cursor: pointer;

      transition: background 0.3s ease;

      &.active {
        background-color: $border-dark;
      }
    }

    &-progress {
      position: absolute;
      width: 0;
      height: 100%;
      border-radius: 100px;
      background-color: $border-dark;
      transition: width 0.3s ease;
    }
  }

  &__back,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    border: 1px solid $border-dark;
    border-radius: 100%;

    position: absolute;
    top: 45.5%;
    left: 0.3%;

    transition: background 0.3s ease;

    cursor: pointer;

    @media (max-width: 720px) {
      display: none;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $background-container;

        img {
          filter: invert(83%) sepia(19%) saturate(152%) hue-rotate(346deg) brightness(102%) contrast(89%);
        }
      }
    }
  }

  &__next {
    left: unset;
    right: 0.3%;
  }

  &__back {
    transform: rotate(180deg);
  }
}