.hero {
  height: 644px;
  padding: 100px;
  border-radius: 40px;
  margin-top: 0;
  position: relative;
  overflow: hidden;

  @media (max-width: 776px) {
    height: fit-content;
  }

  @media (max-width: 768px) {
    padding: 100px 98px 100px 60px;
  }

  @media (max-width: 720px) {
    padding: 60px 16px;
    height: 552px;
  }

  @media (max-width: 360px) {
    height: fit-content;
  }

  &__video {
    width: 1440px;
    height: 759px;
    position: absolute;
    top: -70px;
    left: -20px;
    z-index: -1;

    @media (max-width: 768px) {
      width: 1310px;
      left: -282px;
    }

    @media (max-width: 425px) {
      width: 1100px;
      height: 670px;
      top: -65px;
      left: -240px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 530px;
  }

  &__heading {
    color: $text-light;

    em {
      color: $text-accent;
    }
  }

  &__text {
    color: $text-light;
  }

  &__menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    padding: 20px 72px 20px 78px;
    border-radius: 100px;

    background-color: $background-body;

    @media (max-width: 768px) {
      padding: 20px 76px 20px 78px;
    }

    img {
      width: 0;
      transition: width 0.4s linear;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &:hover {
      img {
        width: 100%;
      }
    }
  }
}