.about {
  &__heading {
    @media (min-width: 1440px) {
      width: 1363px;
    }
    em {
      color: $text-accent;
    }
  }

  &__gallery {
    display: flex;
    gap: 40px;
    margin-top: 40px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .col-1,
    .col-2 {
      max-width: 660px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media (max-width: 768px) {
        max-width: 688px;
      }
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 20px;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      position: relative;
      z-index: 1;

      picture {
        position: absolute;
        z-index: -1;

        img {
          transition: transform 0.3s ease;
        }
      }

      @media (hover: hover) {
        &:hover {
          img {
            transform: scale(0.92);
          }
        }
      }
    }

    .img-small {
      height: 430px;

      @media (max-width: 768px) {
        display: none;
      }
    }
    .img-big {
      height: 590px;
    }
  }
}
