.menu {
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    margin-top: 40px;

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 0 14px;
      justify-content: space-between;
      margin-top: 38px;
    }

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      padding: 0 20px;
    }
  }

  &__item {
    width: 310px;
    height: 506px;
    border: 1px solid $border-light;
    border-radius: 40px;
    cursor: pointer;

    @media (hover:hover) {
      &:hover {
        .menu__item-photo {
          img {
            transform: scale(0.92);
          }
        }
      }
    }
  }

  &__item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 310px;
    border-radius: 40px;
    background-position: center;

    img {
      transition: transform 0.3s ease;
    }
  }

  &__item-description {
    display: flex;
    flex-direction: column;
    height: 196px;
    gap: 12px;
    padding: 20px;

    h5 {
      margin-top: auto;
    }
  }

  &__refresh {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border: 1px solid $border-dark;
      border-radius: 100px;
      margin: 40px auto 0;
    }
  }
}